
<div class="lg:flex flex-col my-5">
  <div class="col-6 col-lg-2 mx-auto text-center">
    <%= image_tag "Logo.png", class: 'col-8 m-auto col-lg-12' %>
  </div>

  <div class="col-11 col-md-8 col-lg-6 m-auto mt-4">
    <%= form_for @contact_form, url:contact_path do |f| %>
    
    <div class="form-group my-2">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control rounded-0 border-1 border-dark', placeholder: 'Korisničko ime' %>
    </div>
    
    <% unless current_user %>
    <div class="field-group my-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-0 border-1 border-dark', placeholder: 'Email' %>
    </div>
    <% end %>

    <div class="field-group my-4">
      <%= f.text_area :question, autofocus: true, autocomplete: "question", class: 'form-control rounded-0 border-1 h-100 border-dark', rows: 6, placeholder: 'Unesi poruku' %>
    </div>
    <div class="mb-4">
        <%= f.submit "Pošalji", width: '100%' %>
    </div>
    <% end %>
  </div>
</div>  


