<div class="lg:h-full flex">
  <div class="mt-10 lg:mt-auto container m-auto">
      <div class="m-auto">
        <div class="w-full m-auto text-black sm:p-5 lg:py-3 xl:py-5">
          <div class="flex flex-col items-center bg-white sm:rounded-lg p-4">
            <div class="lg:flex flex-col">
              <div class="col-6 col-lg-2 mx-auto text-center">
                <%= image_tag "Logo.png", class: 'col-8 m-auto col-lg-12' %>
              </div>
        
              <div class="col-11 col-md-8 col-lg-6 m-auto">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>
                <div class="form-group mt-2">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control rounded-0 border-1 border-dark', placeholder: 'KorisniÄko ime' %>
                  <span class="fa fa-envelope-o fa-lg field-icon"></span>
                </div>
          
                <div class="field-group mb-2">

                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control rounded-0 border-1 border-dark', placeholder: 'Lozinka' %>
                </div>
                <div class="field-group mb-2">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control rounded-0 border-1 border-dark', placeholder: 'Ponovi lozinku' %>
                </div>
               
              <div class="actions">
                  <%= f.submit "REGISTRUJ SE", width: '100%' %>
              </div>
                
                <% end %>
          
            </div>  
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

